# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo

# Environment
.env
.env.local
.env.staging
.env.production
.env.production.reference
*.env

# Supabase
supabase/.branches
supabase/.temp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
